.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-40deg) translate(40%, 0%);
}

.star {
  --star-color: #d6e8ef;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(40deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(110em, -10em, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.9em;
  --top-offset: 78.35vh;
  --fall-duration: 7.242s;
  --fall-delay: 7.207s;
}
.star:nth-child(2) {
  --star-tail-length: 5.56em;
  --top-offset: 39.01vh;
  --fall-duration: 8.976s;
  --fall-delay: 7.974s;
}
.star:nth-child(3) {
  --star-tail-length: 6.44em;
  --top-offset: 34.28vh;
  --fall-duration: 10.351s;
  --fall-delay: 5.229s;
}
.star:nth-child(4) {
  --star-tail-length: 5.89em;
  --top-offset: 88.29vh;
  --fall-duration: 7.584s;
  --fall-delay: 7.273s;
}
.star:nth-child(5) {
  --star-tail-length: 5.66em;
  --top-offset: 30.94vh;
  --fall-duration: 6.562s;
  --fall-delay: 8.855s;
}
.star:nth-child(6) {
  --star-tail-length: 5.27em;
  --top-offset: 38.5vh;
  --fall-duration: 6.198s;
  --fall-delay: 1.789s;
}
.star:nth-child(7) {
  --star-tail-length: 6.5em;
  --top-offset: 14.06vh;
  --fall-duration: 9.416s;
  --fall-delay: 1.59s;
}
.star:nth-child(8) {
  --star-tail-length: 6.23em;
  --top-offset: 49.57vh;
  --fall-duration: 10.015s;
  --fall-delay: 6.097s;
}
.star:nth-child(9) {
  --star-tail-length: 5.17em;
  --top-offset: 88.42vh;
  --fall-duration: 9.276s;
  --fall-delay: 7.838s;
}
.star:nth-child(10) {
  --star-tail-length: 6.02em;
  --top-offset: 61.15vh;
  --fall-duration: 7.783s;
  --fall-delay: 8.176s;
}
.star:nth-child(11) {
  --star-tail-length: 5.53em;
  --top-offset: 3.99vh;
  --fall-duration: 10.668s;
  --fall-delay: 5.661s;
}
.star:nth-child(12) {
  --star-tail-length: 6.89em;
  --top-offset: 90.72vh;
  --fall-duration: 7.641s;
  --fall-delay: 2.373s;
}
.star:nth-child(13) {
  --star-tail-length: 6.53em;
  --top-offset: 9.61vh;
  --fall-duration: 9.35s;
  --fall-delay: 2.527s;
}
.star:nth-child(14) {
  --star-tail-length: 7.4em;
  --top-offset: 21.05vh;
  --fall-duration: 8.419s;
  --fall-delay: 3.148s;
}
.star:nth-child(15) {
  --star-tail-length: 5.63em;
  --top-offset: 33.85vh;
  --fall-duration: 9.228s;
  --fall-delay: 7.936s;
}
.star:nth-child(16) {
  --star-tail-length: 7.02em;
  --top-offset: 93.42vh;
  --fall-duration: 6.269s;
  --fall-delay: 3.648s;
}
.star:nth-child(17) {
  --star-tail-length: 6.27em;
  --top-offset: 92.71vh;
  --fall-duration: 10.694s;
  --fall-delay: 1.987s;
}
.star:nth-child(18) {
  --star-tail-length: 6.06em;
  --top-offset: 26.47vh;
  --fall-duration: 6.032s;
  --fall-delay: 5.768s;
}
.star:nth-child(19) {
  --star-tail-length: 5.94em;
  --top-offset: 46.85vh;
  --fall-duration: 7.79s;
  --fall-delay: 8.011s;
}
.star:nth-child(20) {
  --star-tail-length: 6.23em;
  --top-offset: 5.96vh;
  --fall-duration: 11.56s;
  --fall-delay: 3.598s;
}
.star:nth-child(21) {
  --star-tail-length: 6.87em;
  --top-offset: 87.37vh;
  --fall-duration: 9.561s;
  --fall-delay: 4.855s;
}
.star:nth-child(22) {
  --star-tail-length: 7.08em;
  --top-offset: 77.83vh;
  --fall-duration: 8.895s;
  --fall-delay: 9.571s;
}
.star:nth-child(23) {
  --star-tail-length: 5.7em;
  --top-offset: 25.95vh;
  --fall-duration: 8.456s;
  --fall-delay: 4.278s;
}
.star:nth-child(24) {
  --star-tail-length: 5.67em;
  --top-offset: 59.28vh;
  --fall-duration: 8.719s;
  --fall-delay: 3.362s;
}
.star:nth-child(25) {
  --star-tail-length: 6.02em;
  --top-offset: 8.28vh;
  --fall-duration: 8.849s;
  --fall-delay: 1.983s;
}
.star:nth-child(26) {
  --star-tail-length: 5.71em;
  --top-offset: 44.61vh;
  --fall-duration: 7.476s;
  --fall-delay: 1.789s;
}
.star:nth-child(27) {
  --star-tail-length: 7.03em;
  --top-offset: 14.52vh;
  --fall-duration: 9.582s;
  --fall-delay: 4.85s;
}
.star:nth-child(28) {
  --star-tail-length: 6.54em;
  --top-offset: 13.69vh;
  --fall-duration: 6.784s;
  --fall-delay: 6.24s;
}
.star:nth-child(29) {
  --star-tail-length: 5.48em;
  --top-offset: 44.9vh;
  --fall-duration: 8.029s;
  --fall-delay: 8.2s;
}
.star:nth-child(30) {
  --star-tail-length: 6.96em;
  --top-offset: 62.91vh;
  --fall-duration: 8.487s;
  --fall-delay: 6.148s;
}
.star:nth-child(31) {
  --star-tail-length: 6.28em;
  --top-offset: 53.75vh;
  --fall-duration: 11.908s;
  --fall-delay: 1.355s;
}
.star:nth-child(32) {
  --star-tail-length: 5.52em;
  --top-offset: 86.32vh;
  --fall-duration: 8.556s;
  --fall-delay: 3.879s;
}
.star:nth-child(33) {
  --star-tail-length: 6.49em;
  --top-offset: 94.67vh;
  --fall-duration: 7.608s;
  --fall-delay: 7.518s;
}
.star:nth-child(34) {
  --star-tail-length: 6.31em;
  --top-offset: 26.92vh;
  --fall-duration: 11.182s;
  --fall-delay: 0.142s;
}
.star:nth-child(35) {
  --star-tail-length: 6.25em;
  --top-offset: 68.23vh;
  --fall-duration: 8.635s;
  --fall-delay: 5.495s;
}
.star:nth-child(36) {
  --star-tail-length: 5.85em;
  --top-offset: 96.28vh;
  --fall-duration: 10.941s;
  --fall-delay: 1.86s;
}
.star:nth-child(37) {
  --star-tail-length: 6.75em;
  --top-offset: 25.78vh;
  --fall-duration: 11.503s;
  --fall-delay: 7.4s;
}
.star:nth-child(38) {
  --star-tail-length: 6.62em;
  --top-offset: 69.3vh;
  --fall-duration: 9.745s;
  --fall-delay: 6.333s;
}
.star:nth-child(39) {
  --star-tail-length: 7.21em;
  --top-offset: 95.56vh;
  --fall-duration: 11.142s;
  --fall-delay: 8.754s;
}
.star:nth-child(40) {
  --star-tail-length: 5.59em;
  --top-offset: 48.94vh;
  --fall-duration: 6.587s;
  --fall-delay: 2.345s;
}
.star:nth-child(41) {
  --star-tail-length: 6.54em;
  --top-offset: 99.33vh;
  --fall-duration: 8.184s;
  --fall-delay: 5.099s;
}
.star:nth-child(42) {
  --star-tail-length: 5.71em;
  --top-offset: 61.36vh;
  --fall-duration: 9.516s;
  --fall-delay: 6.031s;
}
.star:nth-child(43) {
  --star-tail-length: 7.39em;
  --top-offset: 20.35vh;
  --fall-duration: 8.912s;
  --fall-delay: 5.855s;
}
.star:nth-child(44) {
  --star-tail-length: 6.93em;
  --top-offset: 81.93vh;
  --fall-duration: 11.033s;
  --fall-delay: 4.998s;
}
.star:nth-child(45) {
  --star-tail-length: 5.71em;
  --top-offset: 94.32vh;
  --fall-duration: 6.905s;
  --fall-delay: 4.099s;
}
.star:nth-child(46) {
  --star-tail-length: 7.43em;
  --top-offset: 19.16vh;
  --fall-duration: 7.222s;
  --fall-delay: 9.069s;
}
.star:nth-child(47) {
  --star-tail-length: 6.85em;
  --top-offset: 24.04vh;
  --fall-duration: 7.102s;
  --fall-delay: 9.415s;
}
.star:nth-child(48) {
  --star-tail-length: 5.14em;
  --top-offset: 81.42vh;
  --fall-duration: 10.139s;
  --fall-delay: 5.692s;
}
.star:nth-child(49) {
  --star-tail-length: 6.06em;
  --top-offset: 86.8vh;
  --fall-duration: 10.962s;
  --fall-delay: 6.946s;
}
.star:nth-child(50) {
  --star-tail-length: 7.29em;
  --top-offset: 11.5vh;
  --fall-duration: 8.774s;
  --fall-delay: 2.549s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(40deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-40em, 40em, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=stars-css.css.map */