html, body {
  margin:0px;
  height: 100%;
  width: 100%;
}

.main_div {
  width: 100%;
  height: 100%;
  margin:0px;
}

.horizontal_landing_boxes {
  display: flex;
  flex-direction: column;
  border:1px solid pink;
}

#logo_box {
  width:10%;
  /* border:1px solid orange; */
  width:5%;
  height: 100%;
  float: left;
}

#main_box {
  border:1px solid red;
  height: 100%
}

.vertical_main {
  display: flex;
  flex-direction: row;
  border:1px solid blue;
}

#header_id {
  height:10%;
  border:1px solid green;
}

.header_boxes {
  display: flex;
  flex-direction: column;
}

#top_header_filler {
  border: 1px solid yellow;
}

#actual_nav {
  border: 1px solid black;
}

#upper_body_id {
  height:30%;
  border:1px solid grey;
}

.upper_body_boxes {
  display:flex;
  flex-direction: column;
  border:1px solid brown;
}

/* some id for the upper body boxes */

.mid_body_boxes {
  display: flex;
  flex-direction: column;
  border:1px solid black;
}

.nav_link {
  margin-inline: 30px;
  color: white;
}